<div>
  <h1>Saldo</h1>
  <form action="/finans/balance" method="POST">
         <button class="button_pesquisa" type="submit">Atualizar</button>
  </form>
</div>
<div class="container_prohibited">

 <table>
        <tr>         
          <th>Valor</th>
          <th>Mes</th>
       </tr>
          {{#each balance}}
        <tr>
          <td>{{this.value}}</td>
          <td>{{this.month}}</td>
       
        </tr>
          {{/each}}
     </table>

</div>   
