<section class="contentDashboard">
  <div> 
<h2> Olá! {{this.user.name}}</h2>
<span>Este são os dados disponíveis:</span>
  </div>
  <div class="secondary-content">
    <div class="card-dashboard">
      <p>Perfil</p>
    </div>
    <div class="card-dashboard">
      <a href="/finans/prohibited">Entrada</a>
    </div>
    <div class="card-dashboard">
    <a href="/finans/exit">Saída</a>
    </div>
    <div class="card-dashboard">
     <a href="/finans/balances">Saldo</a>
    </div>
  </div>  
</section>