<div class="contentDashboard">
  <div> 
<h2> Olá {{this.user.name}}</h2>
<span>Este são os dados disponíveis:</span>
  </div>
  <div>
    <p>Caso queira alterar seu perfil, clique aqui</p>
  </div
  <div>
    <p>Caso queira colocar entradas em sua planilha, <a href="/finans/prohibited">clique aqui</a> </p>
  </div>
  <div>
    <p>Caso queira colocar saídas em sua planilha, <a href="/finans/exit">clique aqui</a></p>
  </div>
  <div>
    <p>Caso queira consultar seu saldo, <a href="/finans/balances">clique aqui</a></p>
  </div>
  <div>
    <h3>Saldo deste mês:</h3>
  </div>
  <div>
    <h3>Saldo geral:</h3>
  </div>


</div>