*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background-color: #13293D;
    color: #E8F1F2;   
}

/*Header*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #13293D;
  height: 20vh;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1B98E0;
}
nav img{
  width: 50px;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}


.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}
  /*Container*/
  #container{
    min-height: 480px;
    width: 100%;
    text-align: center;
    height: 100%;
  }


/* FOOTER */
footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #1B98E0;
    background-color: #006494;
  }
  
  footer span, p {
    font-weight: bold;
    color: #13293D;
    background-color: #006494;
  }

  /*Home*/
  #main_home{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(0.9turn, #006494,  #1B98E0 1%, transparent 60% );
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
 
  .conteudo{
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cartao{
    background-color: transparent;
    width: 70%;
    height: 50%;
    margin: 0 auto;
  }

  .text{
    display: block;
    background-color: transparent;
    margin: 30px;
  }
  .text h1{
    font-size: 3em;
    padding-bottom: 40px;
    background-color: transparent;
   }
   .text p{
    font-size: 1.2em;
    padding-bottom: 40px;
    background-color: transparent;
    color: white;
   }

   .text button{
    font-size: 1.2em;
    background-color: #1B98E0;
    color: #13293D;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
   }

   .text button:hover{
    background-color: #E8F1F2;
    border: 1px solid #1B98E0;
    cursor: pointer;
    transition: 1s;
   }

   .text button:hover{
    transition: 1s;
   }
   .content_sencodary{
      height: 70vh;
      width: 100%;
    }
   /*conteudos secundário da home*/
   .secondary-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
   }

   .cards{
    border: 1px solid #1B98E0;
    width: 180px;
    height: 300px;
    margin: 30px;  
    border-radius: 30px;
    }

   .card{
    border-radius: 30px;
    }
    .card:hover{
     width: 182; 
     height: 302px;
     border: 2px solid white;
     cursor: pointer;
    }
  .texto-h2{
    text-align: center;
    padding-top: 30px;
    font-size: 1.2em;
   }

#conteudo_2{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px dashed #1B98E0;
  }

.rectangle{
  width: 70%;
  height: 250px;
  border: 2px solid #1B98E0;
  border-radius: 20px;
}

.text{
  width: 70%;
  height: 240px;
  display: inline-block;
 

}

#conteudo_2 h3, p, a{
  background-color: transparent;
  text-align: center;
  margin-bottom: 5px;
}

#conteudo_2 p{
  color: #1B98E0;
}

#conteudo_2  a{
  font-size: 1.2em;
  background-color: #1B98E0;
  color: #13293D;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
 }

 #conteudo_2 a:hover{
  background-color: #E8F1F2;
  border: 1px solid #1B98E0;
  cursor: pointer;
  transition: 1s;
 }

/* LOGIN E REGISTER */
.auth-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin-bottom: 1em;
  color: #1B98E0;
  border-left: 4px solid #E8F1F2;
  padding: 0.3em;
  width: 100px;
}

.auth-container a {
  color: #E8F1F2;
}

.auth-container a:hover {
  color: #1B98E0;
}
.auth-container p {
  color: #1B98E0;
  text-align: left;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 0 10px 0 10px;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: left;
}

.form-control input,
.form-control select,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #1B98E0;
}


form input[type='submit'],
.btn {
  background-color: transparent;
  color: #1B98E0;
  border: 2px solid #1B98E0;
  padding: 0.5em 1.3em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

form input[type='submit']:hover,
.btn:hover {
  background-color: #1B98E0;
  color: #fff;
}
/*Message*/
.message{
  padding: 1em;
  color: #13293D;
  background-color: #E8F1F2;
  border: 1px solid #1B98E0;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
/*Dashboard*/
.contentDashboard{
margin: 0 auto;
width: 100%;
padding-top: 50px;
display: flex;
text-align: center;
align-items: center;
flex-direction: column;
}
.contentDashboard h2, h3, p{
  color:#fff;
  padding: 10px;
  }
  .card-dashboard{
    width: 150px;
    height: 150px;
    border: 1px solid #1B98E0;
    border-radius: 25px;
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-dashboard a{
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }
  .card-dashboard:hover{
    background-color: #E8F1F2;
    cursor: pointer;   
    transition: 0.8s;   
  }
  .card-dashboard:hover a{
    color: #13293D;
    text-decoration: underline;
    font-size: 1.3em;
    transition: 1s; 
  }

  /*container_prohibited*/
.container_prohibited{
margin: 0 auto;
max-width: 90%;
width: 1100px;
min-height: 200px;
display: flex;
align-items: top;
align-content: center;
}

  /*Tabela*/
.container_prohibited table{
  width: 1000px;
  max-width: 90%;
  border-radius: 20px;
  padding: 5px;
  margin: 0 auto;
 
}

.container_prohibited tr, th{
  border-bottom: 1px solid #E8F1F2;
  border-right: 1px solid #E8F1F2;
  height: 5px;
}

.container_prohibited td{
  padding: 5px;
  border-right: 1px solid #1B98E0;
  border-bottom: 1px solid #1B98E0;


}

/*formulário de adição*/ 

.container_prohibited input,
.container_prohibited textarea{
  padding: 5px;
  border-radius: 3px;
  border: none;
  max-width: 200px;
 
}

.container_prohibited input::placeholder {
  color: white;
}

.container_prohibited button{
  background-color: none;
  border: none;
  margin: 0 auto;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.button_pesquisa{
  background-color: #E8F1F2;
  border: 1px solid #1B98E0;
  margin: 0 auto;
  font-size: 2rem;
  color: #13293D;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 1.5em;
  font-weight: bold;
 }
 .button_pesquisa:hover{
  background-color: #1B98E0;
  border: 1px solid #fff;
  color: #fff;
 }

/*Modal*/

button:hover {
  opacity: 1;
}


/*Começo do media query*/
@media (max-width: 768px) {
  #main_home{
    flex-direction: column-reverse;
    height: 450px;
  }
  .conteudo{
    width: 100%;
    height: 50%;
  }
  .text h1{
    font-size: 1.8em;
  }

  .text p{
    font-size: 0.8em;
  }
  .text button{
    font-size: 1em;
  }
  .content_sencodary{
    height: 1150px;
    width: 100%;
  }

  .cartao{
    width: 70%;
    height: 70%;
  }
  .rectangle{
   height: 84%;
  }
  /*Tabela*/
 .container_prohibited input {
  padding: 0;
  width: 40px;
 }
 }
 @media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  #logo img{
    width: 50px;
    height: 50px;
    padding: 10px 50px;
    }
  .nav-list {
    position: absolute;
    top: 20vh;
    right: 0;
    width: 50vw;
    height: 30vh;
    background: #13293D;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    list-style: none;
  }
  .mobile-menu {
    display: block;
  }
}

 /*Fim da media query*/
